export MYSQL_HOST="10.0.0.50"
export MYSQL_TCP_PORT="3306"
export MYSQL_PWD="nagayan"
export MYSQL_USER="ie-user"
export DB_NAME="studentinfo"
export DSN="${MYSQL_USER}:${MYSQL_PWD}@tcp(${MYSQL_HOST}:${MYSQL_TCP_PORT})/${DB_NAME}?parseTime=true&autocommit=0&sql_mode=%27TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY%27"

